body {
  background: #f0f0f0;
  font-family: "Montserrat", sans-serif;
}
.card {
  margin-top: 30pt;
  border-radius: 2;
  background: #ffffff;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15pt;
}
.card__title {
  padding: 5pt 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
  color: #575757;
  font-size: 15pt;
  padding: 25px 0;
}

.cards {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
}
.card__module {
  background: #f0f0f0;
  padding: 9pt 7pt;
  border-left: 5pt solid #575757;
  color: #575757;
  cursor: pointer;
}

.card__module:hover {
  background: #ddf3ef;
  padding: 9pt 7pt;
  border-left: 5pt solid #00a79a;
  color: #00a79a;
  cursor: pointer;
}

.circle {
  margin-left: 15pt;
  border: 2pt solid red;
  border-radius: 100%;
  padding: 2pt;
}
