.dashboard {
    height: 100%;
    margin: 0;
    display: flex;
    overflow-x: auto;
    width: 100vw;
  }
  
  /* Запрещаем сжиматься карточке     */
  .dashboard_container_vertical {
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    margin: 0 5px;
    flex: 0 0 400px;
    overflow-x: auto;
  }
  