.dashboard_container_vertical_status {
    position: sticky;
    top:0;
    left:0;
    background-color:rgba(52, 58, 64, 0.75);
    padding-bottom: 20px;
    color: cornsilk;
    text-align: center;
}