<header class="header">
    <div class="header_logo">
    <a href="#"><h1>dashB</h1></a>  
      <p>&#124</p>
    </div>
    <div class="search">
          <i class="fas fa-search" id="search-icon" aria-hidden="true"></i>
      <input
        type="search"
        name=""
        id="search"
        placeholder=" Type anywhere to search"
      />
    </div>
    <div class="header_total-item">
      <div><p>Total<br>items</p></div>
      <div class="total-score"><p>XXX</p></div>
    </div>
</header>
<div class="wrapper"></div>